.Cat-card {
    height: 75%vh;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.Cat-heart {
    color: rgb(233, 80, 80);
}

.Cat-caution {
    color: rgb(238, 185, 10);
}

